$white: #FFFFFF;

:root {
    color: $white;
    font-size: 1rem;
}

body {
    max-width: 100svw;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    overflow: scroll;
    background-color: black;

    .component {
        min-height: 100svh;
        max-width: 28.125rem;
        margin: auto;
        background: url(assets/1/braden-jarvis-qFvXZNTPlng-unsplash1.svg);
        background-repeat: no-repeat;
        background-size: cover;

        &.aube {
            background-image: url(assets/2/aube-unsplash.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &.aprem {
            background-image: url(assets/2/aprem-unsplash.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &.soir {
            background-image: url(assets/2/soir-unsplash.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &.nuit {
            background-image: url(assets/2/nuit-unsplash.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .header {
            max-width: 28.125rem;
            width: 100%;
            height: 3.75rem;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            background:rgb(59, 59, 59); 
            transition: width 0.3s ease;
            position: fixed; 
            top: 0; 
            z-index: 1;
            box-sizing: border-box;
            padding: 0 2.6875rem 0 2.75rem;
            background-color: rgb(70, 43, 226);
            background-image: linear-gradient(rgba(128, 128, 128, 0.933), rgba(128, 128, 128, 0.66));

            &.expanded {
                max-width: 28.125rem;
                width: 100%;
                top: 0; 
                height: 20svh;
                position: fixed;
                z-index: 2;
                display: flex;
                justify-content: center;
            }

            &__maps {
                width: 2.096rem;
                height: 2.0985rem;
                background-image: url(assets/1/map.svg);

                &.expanded {
                    display: none;
                }
            }

            &__search-bar {
                width: 80%;
                height: 1.75rem;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                border-radius: 27px;
                box-sizing: border-box;
                padding: 0 .2156rem 3.65px 0;
                border: 1px solid rgba(255, 255, 255, 0.10);
                background: rgba(255, 255, 255, 0.03);
                backdrop-filter: blur(1px);

                &.expanded {
                    display: none;
                }
            
                input[type=search] {
                    border: none;
                    background-color: transparent;
                    max-width: 60%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;
                    font-size: inherit;
                    width: 100%;
                    height: 100%;
                    color: $white;
                    ::placeholder {
                            color: $white;
                    }
                }
            }

            &__home-button {
                 height: 2.0985rem;
                 display: none;
                 display: none;

                &.expanded {
                    display: block;
                }
            }
        }

        main {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background-repeat: no-repeat;
            background-size: cover;

        
                
            .home {
                min-height: 100svh;
                padding: 3.5625rem 2.6875rem 3.875rem 2.75rem;
                box-sizing: border-box;

                &__modal {
                    border-radius: 20px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    opacity: 0.8999999761581421;
                    background: rgba(255, 255, 255, 0.06);
                    backdrop-filter: blur(1.399999976158142px);
                    box-sizing: border-box;
                    padding: 14px 6px .875rem .8125rem;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 25rem;
                }

                    &__container {
                        width: 100%;
                        height: max-content;                 
                    
                        &--places  {
                            width: 100%;
                            height: 5rem;
                            box-sizing: border-box;
                            padding: 14px 6px .875rem .8125rem;
                            margin-bottom: .625rem;
                            border-radius: 20px;
                            border: 1px solid rgba(255, 255, 255, 0.10);
                            opacity: 0.8999999761581421;
                            background: rgba(255, 255, 255, 0.06);
                            backdrop-filter: blur(1.399999976158142px);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        
                            &--details {   
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            font-size: 0.9375rem;     
                            
                                .home__container--places--location {
                                    display: flex;
                                    flex-direction: column-reverse;

                                    .home__container--places--ville {
                                        display: initial;
                                    }
                                    .home__container--places--pays {
                                        display: initial;
                                    }
                                }
                            }

                            &--weather {
                                display: flex;
                                align-items: center;
                                
                                >.weather-icon {
                                
                                &.clear {
                                    background-image: url(../sass/assets/illustrations-meteo/soleil1.svg);
                                    background-repeat: no-repeat;
                                    background-size: 1.9375rem;
                                    width: 2.5625rem;
                                    height: 2rem; 
                                }

                                &.clouds {
                                    background-image: url(../sass/assets/illustrations-meteo/nuageux1.svg);
                                    background-repeat: no-repeat;
                                    background-size: 1.9375rem;
                                    width: 2.5625rem;
                                    height: 2rem;
                                }

                                &.rain {
                                    background-image: url(../sass/assets/illustrations-meteo/pluie-1.svg);
                                    background-repeat: no-repeat;
                                    background-size: 1.9375rem;
                                    width: 2.5625rem;
                                    height: 2rem;
                                }
                                
                                &.snow {
                                    background-image: url(../sass/assets/illustrations-meteo/neige1.svg);
                                    background-repeat: no-repeat;
                                    background-size: 1.9375rem;
                                    width: 2.5625rem;
                                    height: 2rem;
                                }
                            
                                }
                            
                                p {
                                    margin-left: 1rem;
                                }
                            }
                        }  
                    }
                }
            }
            
            div.random {
                width: inherit;
                height: 500px;
                background-color: green;
            }     

            div.results {
                min-height: 100svh;
                box-sizing: border-box;
                padding: 57px 2.5625rem 4.5rem 2.5625rem;
                background : url(assets/2/ravi-sharma-hNv5s6NEYig-unsplash1.svg);
                background-size: cover;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                &__favoris-icon {
                    height: 2.0625rem;
                    text-align: end;
                    margin-top: 1.25rem;
                }

                &__selected-place  {
                    text-align: center;
                    margin: 0 0 2rem 0;
                
                    &--location {
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: 800;
                        text-transform: uppercase;
                    }

                    &--pays {
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 600;
                        text-transform: capitalize;
                        
                        ::before {
                            content: url();
                        }
                    }
                }
                
                &__current-date {
                    color:$white;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-size: 24px;
                    font-weight: 700;
                }

                &__search-result {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                
                    .current-temperature {
                        font-size: 64px;
                        font-weight: 700;
                        margin-top: 2.375rem;
                        &::before {
                            content: url(assets/2/Temperature.svg);
                        }
                    }

                    &--details {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        margin-bottom: 1.25rem;
                        margin-top: 1.25rem;

                        &--current-weather {
                            height: 3.75rem;
                            p {
                                margin: 0;
                                font-size: 1.1rem;
                            }
                        }
                        
                        #humidity::before {
                            content: url(assets/2/humidity.svg);
                        }
                        #wind::before {
                            content: url(assets/2/wind.svg);
                        }
                        #feelsLike::before {
                            content: url(assets/2/image.svg);
                        }              
                    }
                }

                .more {
                    .texte {
                        font-size: 24px;
                        font-weight: 600;
                    }
                    .extract {
                        font-size: .875rem;
                        margin-top: 1.875rem;
                        margin-bottom: 1.875rem;
                    }

                    #modal {
                        background-color: rgba(24, 24, 30);
                        width: 35%;
                        height: fit-content;
                        overflow-y: auto;
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        display: flex;
                        visibility: hidden;
                        opacity: 0;
                        transition: 200ms;
                        border-radius: 20px;

                        &.show {
                            visibility: visible;
                            opacity: 1;
                        }

                        .modal-content {
                            margin: auto;
                            position: relative;

                            .modal-close {
                                position: absolute;
                                top: 15px;
                                right: 15px;
                                cursor: pointer;
                            }

                            .modal-body {
                                padding: 10px;
                                height: 60%;
                                max-height: 60svh;
                                font-size: 1rem;
                                font-weight: 400;
                            }

                            .modal-footer {
                                border-top: 1px solid #413e3e;
                                text-align: right;
                                display: flex;
                                justify-content: space-between;
                                padding-top: .625rem;

                                .read-more {
                                    text-align: left;
                                    font-size: .875rem;
                                    text-decoration: none;
                                    color: #413e3e;
                                }
                            
                                .btn {
                                    padding: 5px;
                                    background-color: rgb(6, 0, 128);
                                    text-decoration: none;
                                    width: 20px;
                                }
                            }
                        }
                    }
                    
                    .button-container {
                        display: flex;
                        justify-content: space-between;
                        
                        button  {
                            text-decoration: none;
                            color: inherit;
                            font-size: 15px;
                            font-weight: 700;
                            border-radius: 27px;
                            border: 1px solid rgba(255, 255, 255, 0.01);
                            background: rgba(255, 255, 255, 0.37);
                            backdrop-filter: blur(0.20000000298023224px);
                            width: 40%;
                            height: 50px;
                            box-shadow: inset 0px 0px 12px 0px;
                
                            >a {
                                text-decoration: none;
                                letter-spacing: 1.1px;
                                color: inherit;
                            }
                        }
                    }
                }
            }

            .forecast5days {
                min-height: 100svh;
                height: max-content;
                padding: 3.5625rem 2.6875rem 3.875rem 2.75rem;
                box-sizing: border-box;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &__title {
                    color: white;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                &__forecastPerDay {
                    width: 100%;
                    height: 5rem;
                    box-sizing: border-box;
                    padding: 1.625rem .375rem .875rem .8125rem;
                    margin-bottom: .625rem;
                    border-radius: 20px;
                    border-radius: 20px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    opacity: 0.8999999761581421;
                    background: rgba(255, 255, 255, 0.06);
                    backdrop-filter: blur(1.399999976158142px);
                    display: flex;
                    justify-content: space-between;
                    }
            }
        } 
    }